# LaTeX temporary files (do not track in git)
*.aux
*.log
*.out
*.fls
*.fds_latexmk
*.fdb_latexmk
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.lot
*.lof
*.bcf
*.run.xml
*.run.xml
*.xml
*.toc
*.pdfsync
